<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xs-offset-0 col-sm-offset-0 col-md-offset-1 col-lg-offset-1 ">


            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="text-center">Dependents List</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class=" col-md-12 col-lg-12 ">
                            <table class="table table-user-information">
                                <tbody>
                                    <tr class="font-weight-bold">
                                        <td>Member Id</td>
                                        <td>Dependent Id</td>
                                        <td>First Name</td>
                                        <td>Last Name</td>
                                        <td>Date of Birth</td>
                                        <td>Actoin</td>
                                    </tr>
                                    <tr *ngFor="let dependent of dependents;">
                                        <td>{{dependent.memberId}}</td>
                                        <td>{{dependent.dependentId}}</td>
                                        <td>{{dependent.dependentFirstName}}</td>
                                        <td>{{dependent.dependentLastName}}</td>
                                        <td>{{dependent.dependentDOB}}</td>
                                        <td>
                                            <a data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning ml-10"><i class="glyphicon glyphicon-edit"  [routerLink]="['/member-edit-dependent',dependent.dependentId]"></i></a>
                                            <a data-original-title="Remove this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger ml-10" (click)="deleteDependent(dependent.dependentId)"><i class="glyphicon glyphicon-remove"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>